
.frm{
	background-color:lightblue;
	margin:0 auto;
	padding:20px;
	width:400px;
	height:
	
}
.form_elmnts{
	margin:0 auto;
}
.txt{
	
	margin:0 auto;
	margin-bottom:10px;
	padding:5px;
	
}
.lbl{
	color:tomato;
	font-size:20px;
}
